<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="app-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-pages selected="{{index}}">
      <slot></slot>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AppPages extends Polymer.Element {
      static get is() { return 'app-pages'; }
      static get properties() {
        return {
          index: {
            type: String,
            value: '0'
          }
        };
      }
      show(data){
        if (data.state==="Init")
          this.index="0";
        if (data.state==="Reg")
          this.index="1";
        if (data.state==="Data")
            this.index="2";
        if (data.state==="Movements")
            this.index="3";
        if (data.state==="Transfer")
            this.index="4";
      }
    }
    window.customElements.define(AppPages.is, AppPages);
  </script>
</dom-module>
