<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-movements">
  <template>
    <style include="custom-style"></style>
    <style>
      :host {
        display: block;
      }
      paper-spinner-lite {
        margin-top: 20px;
        left: 50%;
        padding: 0px;
      }
      th{
        /* background-color : var(--default-primary-color);
        color: var(--text-primary-color); */
        /* background-color : var(--paper-progress-secondary-color);
        color: var(--text-primary-color); */
        background-color : var(--paper-button-secondary-bcolor);
        color: var(--paper-button-secondary-color);
      }
      td{
        background-color : var(--paper-button-disable-bcolor);
        color: var(--paper-button-disable-color);
      }
    </style>
    <!--<h2>Account !</h2>-->
    <table style="width:100%">
      <caption>
        <paper-toolbar>
          <span slot="top" class="title">Movements</span>
          <paper-icon-button slot="top" icon="add">+</paper-icon-button>
        </paper-toolbar>
      </caption>
      <tr>
        <th align="left"><paper-item></paper-item></th>
        <th align="left"><paper-item>Amount</paper-item></th>
        <th align="left"><paper-item>Balance</paper-item></th>
      </tr>
      <template is="dom-repeat" items="{{movements}}">
        <tr>
          <td><paper-item>[[index]]</paper-item></td>
          <td><paper-item>[[item.amount]]</paper-item></td>
          <td><paper-item>[[item.balance]]</paper-item></td>
        </tr>
      </template>
    </table>
    <br>
    <paper-button raised on-click="back" class="secondary">Back</paper-button>
    <paper-dialog id="animated" with-backdrop modal>
      <h3>Operation in progress</h3>
      <br>
      <h4>Getting user data</h4>
      <paper-spinner-lite active class="thick"></paper-spinner-lite>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserMovements extends Polymer.Element {
      static get is() { return 'user-movements'; }
      static get properties() {
        return {
          number: {
            type: String
          },
          balance: {
            type: Number
          },
          movements:{
            type:Array
          }
        };
      }
      init(data){
        console.log(data);
        this.number=data.number;
        this.balance=data.balance;
        this.movements = null;
        this.$.animated.open();
        this.dispatchEvent(
          new CustomEvent(
            "getMovements",
            {
              detail:{
                "number":data.number,
                "token":data.token,
                "state":"Movements"
              }
            }
          )
        );
      }
      show(data){
        console.log(data);
        this.$.animated.close();
        var lastBalance = this.balance;
        for (var i = 0; i < data.data.movements.length; i++)
        {
          data.data.movements[i].balance = lastBalance;
          lastBalance = ((-1) * data.data.movements[i].amount) + lastBalance;

          //data.data.movements[i].balance = ((-1) * data.data.movements[i].amount) + lastBalance;
          //lastBalance = data.data.movements[i].balance;
        }
        this.movements=data.data.movements;
      }
      back(e){
        this.dispatchEvent(
          new CustomEvent(
            "showMovementsBack",
            {
              detail:{
                "state":"Data"
              }
            }
          )
        );
      }
    }

    window.customElements.define(UserMovements.is, UserMovements);
  </script>
</dom-module>
