<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-data">
  <template>
    <style include="custom-style"></style>
    <style>
      :host {
        display: block;
      }
      paper-spinner-lite {
        margin-top: 20px;
        left: 50%;
        padding: 0px;
      }
      th{
        /* background-color : var(--default-primary-color);
        color: var(--text-primary-color); */
        /* background-color : var(--paper-progress-secondary-color);
        color: var(--text-primary-color); */
        background-color : var(--paper-button-secondary-bcolor);
        color: var(--paper-button-secondary-color);
      }
      td{
        background-color : var(--paper-button-disable-bcolor);
        color: var(--paper-button-disable-color);
      }
    </style>
    <!--<h2>Hello [[user.first_name]] [[user.last_name]]!</h2>-->
      <!-- <paper-datatable data="{{accounts}}">
        <paper-datatable-column header="Name" property="name" type="String" align="right" sortable tooltip="The total amount of food energy in the given serving size." sorted></paper-datatable-column>
        <paper-datatable-column header="Iban (g)" property="IBAN" type="Number" align="right" sortable tooltip="The total amount of fat in the given serving size."></paper-datatable-column>
        <paper-datatable-column header="Code (g)" property="bankCode" type="Number" align="right" sortable tooltip="The total amount of carbs in the given serving size."></paper-datatable-column>
        <paper-datatable-column header="Number (g)" property="Number" type="Number" align="right" sortable tooltip="The total amount of protein in the given serving size."></paper-datatable-column>
        <paper-datatable-column header="Balance (mg)" property="relInfo.balance" type="Number" align="right" sortable tooltip="The amount of sodium as a percentage of the recommended daily amount."></paper-datatable-column>
      </paper-datatable> -->
    <table style="width:100%">
      <caption>
        <paper-toolbar>
          <span slot="top" class="title">Accounts</span>
          <paper-icon-button on-click="addAccount" slot="top" icon="add">+</paper-icon-button>
        </paper-toolbar>
      </caption>
      <!-- <caption><h3>Accounts</h3></caption> -->
      <tr>
        <th align="left"><paper-item></paper-item></th>
        <th align="left"><paper-item>Name</paper-item></th>
        <th align="left"><paper-item>Iban</paper-item></th>
        <th align="left"><paper-item>Balance</paper-item></th>
        <th align="left"><paper-item>Operations</paper-item></th>
      </tr>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td><paper-item>[[index]]</paper-item></td>
          <td><paper-item>[[item.name]]</paper-item></td>
          <td><paper-item>[[item.IBAN]] [[item.bankCode]] 0000 0000 0000 [[_zeroFill(item.Number,4)]]</paper-item></td>
          <td><paper-item>[[item.relInfo.balance]]</paper-item></td>
          <td>
            <paper-menu-button>
              <paper-icon-button secodary icon="menu" slot="dropdown-trigger" alt="menu">
              </paper-icon-button>
              <paper-listbox slot="dropdown-content">
                <paper-item on-click="view">View movements</paper-item>
                <paper-item on-click="transfer">Transfer</paper-item>
              </paper-listbox>
            </paper-menu-button>
          </td>
        </tr>
      </template>
    </table>
    <br>
    <table style="width:100%">
      <caption>
        <paper-toolbar>
          <span slot="top" class="title">Cards</span>
          <paper-icon-button slot="top" on-click="addCard" icon="add">+</paper-icon-button>
        </paper-toolbar>
      </caption>
      <tr>
        <th align="left"><paper-item></paper-item></th>
        <th align="left"><paper-item>Name</paper-item></th>
        <th align="left"><paper-item>Pan</paper-item></th>
      </tr>
      <template is="dom-repeat" items="{{cards}}">
        <tr>
          <td><paper-item>[[index]]</paper-item></td>
          <td><paper-item>[[item.name]]</paper-item></td>
          <td><paper-item>[[item.BIN]] 0000 0000 [[_zeroFill(item.Number,4)]]</paper-item></td>
        </tr>
      </template>
    </table>
    <paper-dialog id="animated" with-backdrop modal>
      <h3>Operation in progress</h3>
      <br>
      <h4>Getting user data</h4>
      <paper-spinner-lite active class="thick"></paper-spinner-lite>
    </paper-dialog>
    <paper-dialog id="error" with-backdrop modal>
      <h3>Error</h3>
      <br>
      <h4>[[error]]!</h4>
      <br>
      <div class="buttons">
        <paper-button primary raised dialog-confirm autofocus>Close</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="addAccount" with-backdrop modal>
      <h3>Add account</h3>
      <br>
      <paper-input label="Type account name" value="{{account_name::input}}"></paper-input>
      <paper-item>
        <paper-button primary raised on-click="addAccountCreateEvent" class="btn-primary">Create</paper-button>
        <paper-button raised on-click="addAccountCancelEvent" class="secondary">Cancel</paper-button>
      </paper-item>
    </paper-dialog>
    <paper-dialog id="addCard" with-backdrop modal>
      <h3>Add card</h3>
      <br>
      <paper-input label="Type card name" value="{{card_name::input}}"></paper-input>
      <paper-item>
        <paper-button primary raised on-click="addCardCreateEvent" class="btn-primary">Create</paper-button>
        <paper-button raised on-click="addCardCancelEvent" class="secondary">Cancel</paper-button>
      </paper-item>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserData extends Polymer.Element {
      static get is() { return 'user-data'; }
      static get properties() {
        return {
          token: {
            type: String,
            value: ''
          },
          email: {
            type: String,
            value: ''
          },
          user:{
            type:Object
          },
          accounts:{
            type:Array
          },
          cards:{
            type:Array
          },
          error:{
            type: String,
            value: undefined
          },
          account_name: {
            type: String,
            value: ''
          },
          card_name: {
            type: String,
            value: ''
          }
        };
      }
      _zeroFill( number, width )
      {
        width -= number.toString().length;
        if ( width > 0 )
        {
          return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
        }
        return number + ""; // always return a string
      }
      init(data){
        console.log(data);
        this.$.animated.open();
        this.token = data.token;
        this.email = data.email;
        this.dispatchEvent(
          new CustomEvent(
            "getData",
            {
              detail:{
                "email":data.email,
                "token":data.token,
                "state":"Data"
              }
            }
          )
        );
      }
      show(data){
        console.log(data);
        this.$.animated.close();
        if (data.error){
          this.error=data.error;
          this.$.error.open();
        }else{
          this.$.animated.close();
          this.user=data.data.user;
          this.accounts=data.data.account;
          this.cards=data.data.card;
        }
      }
      view(e){
        console.log(e.model.item);
        this.dispatchEvent(
          new CustomEvent(
            "initMovements",
            {
              detail:{
                "number":e.model.item.Number,
                "balance":e.model.item.relInfo.balance,
                "token":this.token
              }
            }
          )
        );
      }
      transfer(e){
        console.log(e.model.item);
        this.dispatchEvent(
          new CustomEvent(
            "initTransfer",
            {
              detail:{
                "number":e.model.item.Number,
                "email":this.user.email,
                "token":this.token
              }
            }
          )
        );
      }
      addAccount(e){
        console.log(e);
        this.$.addAccount.open();
      }
      addAccountCreateEvent(e){
        this.$.addAccount.close();
        this.$.animated.open();
        this.dispatchEvent(
          new CustomEvent(
            "addAccount",
            {
              detail:{
                "name":this.account_name,
                "_id":this.user._id,
                "token":this.token
              }
            }
          )
        );
      }
      addAccountCancelEvent(e){
        this.$.addAccount.close();
      }
      addAccountResponse(data){
        // var auxAccounts = this.accounts;
        // auxAccounts.push(data.data.account[0]);
        // this.accounts = auxAccounts;
        // console.log(this.accounts);
        // this.$.animated.close();

        this.$.animated.close();
        this.dispatchEvent(
          new CustomEvent(
            "getData",
            {
              detail:{
                "email":this.email,
                "token":this.token,
                "state":"Data"
              }
            }
          )
        );
      }
      addAccountResponseError(data){
        this.$.animated.close();
        this.error=data.error;
        this.$.error.open();
      }

      addCard(e){
        console.log(e);
        this.$.addCard.open();
      }
      addCardCreateEvent(e){
        this.$.addCard.close();
        this.$.animated.open();
        this.dispatchEvent(
          new CustomEvent(
            "addCard",
            {
              detail:{
                "name":this.card_name,
                "_id":this.user._id,
                "account":this.accounts[0]._id,
                "token":this.token
              }
            }
          )
        );
      }
      addCardCancelEvent(e){
        this.$.addCard.close();
      }
      addCardResponse(data){
        this.$.animated.close();
        this.dispatchEvent(
          new CustomEvent(
            "getData",
            {
              detail:{
                "email":this.email,
                "token":this.token,
                "state":"Data"
              }
            }
          )
        );
      }
      addCardResponseError(data){
        this.$.animated.close();
        this.error=data.error;
        this.$.error.open();
      }
    }

    window.customElements.define(UserData.is, UserData);
  </script>
</dom-module>
