<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-cardadd">
  <template>
    <iron-ajax
      id="cardaccount"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     "http://localhost:3000/apitechu/cards/add"
     */
    class DmCard extends Polymer.Element {
      static get is() { return 'dm-cardadd'; }

      execRequest(data){
        this.$.cardaccount.removeEventListener("response",this.addCardResponse);

        this.$.cardaccount.headers['x-access-token'] = data.token;;
        this.$.cardaccount.url=Config.BASE_URL +  "apitechu/cards/add";
        this.$.cardaccount.body={name:data.name,idUser:data._id.$oid, balance:0,"idAccount":data.account.$oid};
        this.$.cardaccount.dmControl = this;
        this.$.cardaccount.method="POST"
        this.$.cardaccount.addEventListener("response",this.addCardResponse);
        this.$.cardaccount.generateRequest();
      }
      addCardResponse(data){
        console.log('Response card OK');
        console.log(data);
        var self = this;
        if (this.id =='addUser')
          self = this.dmControl;
        if(data.detail.response.error==undefined){
          this.dmControl.dispatchEvent(
            new CustomEvent(
              "addCardResponse",
              {
                detail:{
                  "error":undefined,
                  "data":{
                     "card":[data.detail.response]
                  }
                }
              }
            )
          );
        }else{
          self._showError(data.detail.response);
        }
      }
      showError(error){
        console.log(error.detail.error);
        //error.detail.request.xhr.response
        console.log(error.detail.error);
        this.dispatchEvent(
          new CustomEvent(
            "addCardResponseError",
            {
              detail:{
              "error":error.detail.error,
              "data":undefined
              }
            }
          )
        );
      }
      _showError(error){
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "addCardResponseError",
            {
              detail:{
              "error":error,
              "data":undefined
              }
            }
          )
        );
      }
    }
    window.customElements.define(DmCard.is, DmCard);
  </script>
</dom-module>
