<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-accountadd">
  <template>
    <iron-ajax
      id="addaccount"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     "http://localhost:3000/apitechu/accounts/add"
     */
    class DmAccount extends Polymer.Element {
      static get is() { return 'dm-accountadd'; }

      execRequest(data){
        this.$.addaccount.removeEventListener("response",this.addAccountResponse);

        this.$.addaccount.headers['x-access-token'] = data.token;;
        this.$.addaccount.url=Config.BASE_URL + "apitechu/accounts/add";
        this.$.addaccount.body={name:data.name,idUser:data._id.$oid, balance:0};
        this.$.addaccount.dmControl = this;
        this.$.addaccount.method="POST"
        this.$.addaccount.addEventListener("response",this.addAccountResponse);
        this.$.addaccount.generateRequest();
      }
      addAccountResponse(data){
        console.log('Response account OK');
        console.log(data);
        var self = this;
        if (this.id =='addUser')
          self = this.dmControl;
        if(data.detail.response.error==undefined){
          this.dmControl.dispatchEvent(
            new CustomEvent(
              "addAccountResponse",
              {
                detail:{
                  "error":undefined,
                  "data":{
                     "account":[data.detail.response]
                  }
                }
              }
            )
          );
        }else{
          self._showError(data.detail.response);
        }
      }
      showError(error){
        console.log(error.detail.error);
        //error.detail.request.xhr.response
        console.log(error.detail.error);
        this.dispatchEvent(
          new CustomEvent(
            "addAccountResponseError",
            {
              detail:{
              "error":error.detail.error,
              "data":undefined
              }
            }
          )
        );
      }
      _showError(error){
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
            "addAccountResponseError",
            {
              detail:{
              "error":error,
              "data":undefined
              }
            }
          )
        );
      }
    }
    window.customElements.define(DmAccount.is, DmAccount);
  </script>
</dom-module>
