<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="bus-signals">
  <template>
    <iron-ajax
      id="doLoad"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-error="showError"
      on-response="response"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BusSignals extends Polymer.Element {
      constructor() {
        super();
      }
      connectedCallback() {
        super.connectedCallback();
      }
      ready() {
        super.ready();
      }
      static get is() { return 'bus-signals'; }
      static get properties() {
        return {
          file:{
            type: String,
            value:undefined,
            observer: '_fileChanged'
          },
          /*
            Channels: array of Channel
              Channel
              Name: Channel Name
              Pub
                CName: Publisher component name
                EName: Publisher event name
              Subs array of Sub
                Sub
                  CName: Subcriber component name
                  MName: Subcriber method name
          */
          channels:{
            type:Object,
            value:undefined,
            observer: '_channelsChanged'
          }
        };
      }
      _fileChanged(newValue, oldValue){
        this.$.doLoad.url = newValue;
        this.$.doLoad.generateRequest();
      }
      _channelsChanged(newValue, oldValue){
        if (newValue!=undefined){
          this._addEvents(newValue);
        }else if (oldValue!=undefined){
          this._removeEvents(oldValue);
        }
      }
      _addEvents(channels){
        channels.forEach(function(channel) {
          if (document.querySelector(channel.Pub.CName)!=undefined){
            document.querySelector(channel.Pub.CName).addEventListener(channel.Pub.EName, function(data){
              channel.Subs.forEach(function(sub) {
                if (document.querySelector(sub.CName)!=undefined){
                  document.querySelector(sub.CName)[sub.MName](data.detail);
                }
              });
            });
          }
        });
      }
      _removeEvents(channels){
        channels.forEach(function(channel) {
          if (document.querySelector(channel.Pub.CName)!=undefined){
            document.querySelector(channel.Pub.CName).removeEventListener(channel.Pub.EName);
          }
        });
      }
      response(data){
        console.log('Response OK');
        //console.log(data);
        //console.log(data.detail);
        //console.log(data.detail.response);
        this.channels=data.detail.response;
      }
      showError(error){
        console.log('Response error');
        console.log(error);
        this.channels=undefined;
      }
    }
    window.customElements.define(BusSignals.is, BusSignals);
  </script>
</dom-module>
