<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-userregister">
  <template>
    <iron-ajax
      id="addUser"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     http://localhost:3000/apitechu/users/add
     http://localhost:3000/apitechu/accounts/add
     http://localhost:3000/apitechu/cards/add
     */
    class DmRegister extends Polymer.Element {
      static get is() { return 'dm-userregister'; }

      execRequest(data){
        this.$.addUser.removeEventListener("response",this.addUserResponse);
        this.$.addUser.removeEventListener("response",this.addAccountResponse);
        this.$.addUser.removeEventListener("response",this.addCardResponse);

        this.balance = data.balance;
        this.$.addUser.url=Config.BASE_URL + "apitechu/users/add";
        this.$.addUser.body=data;
        this.initData = data;
        this.$.addUser.dmControl = this;
        this.$.addUser.method="POST"
        this.$.addUser.addEventListener("response",this.addUserResponse);
        this.$.addUser.generateRequest();
      }
      execAccountRequest(data){
        this.$.addUser.removeEventListener("response",this.addUserResponse);
        this.$.addUser.removeEventListener("response",this.addAccountResponse);
        this.$.addUser.removeEventListener("response",this.addCardResponse);

        this.$.addUser.url=Config.BASE_URL + "apitechu/accounts/add";
        this.$.addUser.body={name:'default',idUser:data._id.$oid, balance:this.balance};
        this.$.addUser.dmControl = this;
        this.$.addUser.method="POST"
        this.$.addUser.addEventListener("response",this.addAccountResponse);
        this.$.addUser.generateRequest();
      }
      execCardRequest(data){
        this.$.addUser.removeEventListener("response",this.addUserResponse);
        this.$.addUser.removeEventListener("response",this.addAccountResponse);
        this.$.addUser.removeEventListener("response",this.addCardResponse);

        this.$.addUser.url=Config.BASE_URL + "apitechu/cards/add";
        this.$.addUser.body={name:'default',idUser:this.userData._id.$oid,idAccount:data._id.$oid};
        this.$.addUser.dmControl = this;
        this.$.addUser.method="POST"
        this.$.addUser.addEventListener("response",this.addCardResponse);
        this.$.addUser.generateRequest();
      }
      addUserResponse(data){
        console.log('Response user OK');
        console.log(data);
        var self = this;
        if (this.id =='addUser')
          self = this.dmControl;
        if((data.detail.response.error==undefined)&&(data.detail.response.auth)){
          self.$.addUser.headers['x-access-token'] = data.detail.response.token;
          self.userData = data.detail.response.user;
          self.execAccountRequest(self.userData);
        }else{
          self._showError(data.detail.response);
        }
      }
      addAccountResponse(data){
        console.log('Response account OK');
        console.log(data);
        var self = this;
        if (this.id =='addUser')
          self = this.dmControl;
        if(data.detail.response.error==undefined){
          self.accountData = data.detail.response;
          self.accountData.relInfo = {};
          self.accountData.relInfo.balance = self.balance;
          self.execCardRequest(self.accountData);
        }else{
          self._showError(data.detail.response);
        }
      }
      addCardResponse(data){
        console.log('Response card OK');
        console.log(data);
        var self = this;
        if (this.id =='addUser')
          self = this.dmControl;
        if(data.detail.response.error==undefined){
          self.cardData = data.detail.response;
          this.dmControl.dispatchEvent(
            new CustomEvent(
              "regRes",
              {
                detail:{
                  "error":undefined,
                  "state":"Data",
                  "data":{
                    "email":this.dmControl.initData.email,
                     "user":this.dmControl.userData,
                     "account":[this.dmControl.accountData],
                     "card":[this.dmControl.cardData]
                  }
                }
              }
            )
          );
          /*
          this.dmControl.dispatchEvent(
            new CustomEvent(
              "showData",
              {
                detail:{
                  "error":undefined,
                  "state":"Data",
                  "data":{
                    "email":this.dmControl.initData.email,
                     "user":this.dmControl.userData,
                     "account":[this.dmControl.accountData],
                     "card":[this.dmControl.cardData]
                  }
                }
              }
            )
          );*/
        }else{
          self._showError(data.detail.response);
        }
      }
      showError(error){
        console.log(error.detail.status);
        //error.detail.request.xhr.response
        console.log(error.detail.request.xhr.response);
        this.dispatchEvent(
          new CustomEvent(
            "registerResError",
            {
              detail:{
              "error":error.detail.request.xhr.response,
              "data":undefined
              }
            }
          )
        );
      }
      _showError(data){
        console.log(data);
        //error.detail.request.xhr.response
        console.log(data);
        this.dispatchEvent(
          new CustomEvent(
            "registerResError",
            {
              detail:{
                "error":data.error,
                "data":undefined
              }
            }
          )
        );
      }
    }

    window.customElements.define(DmRegister.is, DmRegister);
  </script>
</dom-module>
