<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-transfer">
  <template>
    <style include="custom-style"></style>
    <style>
      :host {
        display: block;
      }
      paper-spinner-lite {
        margin-top: 20px;
        left: 50%;
        padding: 0px;
      }
    </style>
    <h2>Transfer from account ES91 0004 0000 0000 0000 [[_zeroFill(source_account,4)]]</h2>
    <iron-pages selected="{{index}}">
      <div>
        <!-- <input type="text" placeholder="Target account" value="{{target_account::input}}"/>
        <input type="text" placeholder="amount" value="{{amount::input}}"/> -->

        <paper-input label="type the target account" value="{{target_account::input}}">
          <div slot="prefix">ES91 0004 0000 0000 0000 &nbsp;</div>
        </paper-input>
        <paper-input label="type the transfer amount" type="number" value="{{amount::input}}"></paper-input>
        <paper-button primary raised on-click="create">Create</paper-button>
      </div>
        <!-- <input type="text" placeholder="Target account" value="[[target_account]]"/>
        <input type="text" placeholder="amount" value="[[amount]]"/> -->
      <div>
        <paper-input label="target account" readonly value="[[target_account]]">
          <div slot="prefix">ES91 0004 0000 0000 0000 &nbsp;</div>
        </paper-input>
        <paper-input label="transfer amount" readonly type="number" value="[[amount]]"></paper-input>
        <h4>We have been send you an email with the code for confirm this operation</h4>
        <!-- <input type="text" placeholder="email code confirmation" value="{{pin::input}}"/> -->
        <paper-input label="email code confirmation" type="password" value="{{pin::input}}"></paper-input>
        <paper-button primary raised on-click="confirm">Confirm</paper-button>
      </div>
      <div>
        <h4>Successful operation</h4>
        <br>
        <paper-button secondary raised on-click="back">Back</paper-button>
      </div>
    </iron-pages>
    <!--<paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>-->

    <paper-dialog id="animated" with-backdrop modal>
      <h3>Operation in progress</h3>
      <br>
      <h4>Processing transfer</h4>
      <paper-spinner-lite active class="thick"></paper-spinner-lite>
    </paper-dialog>
    <paper-dialog id="error" with-backdrop modal>
      <h3>Error</h3>
      <br>
      <h4>[[error]]!</h4>
      <br>
      <div class="buttons">
        <paper-button primary raised dialog-confirm autofocus>Close</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserTransfer extends Polymer.Element {
      static get is() { return 'user-transfer'; }
      static get properties() {
        return {
          index: {
            type: String,
            value: '0'
          },
          source_account: {
            type: String
          },
          target_account:{
            type: String
          },
          amount:{
            type: Number
          },
          pin: {
            type: String
          },
          error:{
            type: String,
            value: undefined
          }
        };
      }
      _zeroFill( number, width )
      {
        width -= number.toString().length;
        if ( width > 0 )
        {
          return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
        }
        return number + ""; // always return a string
      }
      initTransfer(data){
        console.log(data);
        this.source_account = data.number;
        this.email = data.email;
        this.token = data.token;
        this.dispatchEvent(
          new CustomEvent(
            "showTransfer",
            {
              detail:{
                "state":"Transfer"
              }
            }
          )
        );
      }
      create(e){
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "createTransfer",
            {
              detail:{
                "email":this.email,
                "sourceNumberAccount":this.source_account,
                "amount":this.amount,
                "token":this.token
              }
            }
          )
        );
        this.$.animated.open();
      }
      confirm(e){
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            "confirmTransfer",
            {
              detail:{
                "email":this.email,
                "sourceNumberAccount":this.source_account,
                "targetNumberAccount":this.target_account,
                "amount":this.amount,
                "pin":this.pin,
                "operationToken":this.operationToken
              }
            }
          )
        );
        this.$.animated.open();
      }
      back(e){
        this.dispatchEvent(
          new CustomEvent(
            "showMovementsBack2",
            {
              detail:{
                "email":this.email,
                "token":this.token
              }
            }
          )
        );
        // this.dispatchEvent(
        //   new CustomEvent(
        //     "showMovementsBack",
        //     {
        //       detail:{
        //         "state":"Data"
        //       }
        //     }
        //   )
        // );
      }
      createResponse(data){
        console.log(data);
        this.index = "1";
        this.operationToken = data.operationToken;
        this.$.animated.close();
      }
      confirmResponse(data){
        console.log(data);
        this.index = "2";
        this.$.animated.close();
      }
    }

    window.customElements.define(UserTransfer.is, UserTransfer);
  </script>
</dom-module>
