<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-userdata">
  <template>
    <iron-ajax
      id="doLogin"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     http://localhost:3000/apitechu/users/email/
     http://localhost:3000/apitechu/accounts/user/
     http://localhost:3000/apitechu/cards/user/
     */
    class DmData extends Polymer.Element {
      static get is() { return 'dm-userdata'; }
      static get properties() {
        return {
          userData: {
            type: Object
          },
          accountData: {
            type: Object
          }
        };
      }
      userDataRequest(data){
        this.$.doLogin.removeEventListener("response",this.userDataResponse);
        this.$.doLogin.removeEventListener("response",this.accountDataResponse);
        this.$.doLogin.removeEventListener("response",this.cardDataResponse);

        this.$.doLogin.headers['x-access-token'] = data.token;
        this.$.doLogin.url=Config.BASE_URL + "apitechu/users/email/"+ data.email;
        //this.$.doLogin.body=data;
        this.$.doLogin.dmControl = this;
        this.$.doLogin.addEventListener("response",this.userDataResponse);
        this.$.doLogin.generateRequest();
      }
      accountDataRequest(userId){
        this.$.doLogin.removeEventListener("response",this.userDataResponse);
        this.$.doLogin.removeEventListener("response",this.accountDataResponse);
        this.$.doLogin.removeEventListener("response",this.cardDataResponse);

        this.$.doLogin.url=Config.BASE_URL + "apitechu/accounts/user/"+ userId;
        //this.$.doLogin.body=data;
        this.$.doLogin.addEventListener("response",this.accountDataResponse);
        this.$.doLogin.generateRequest();
      }
      cardDataRequest(userId){
        this.$.doLogin.removeEventListener("response",this.userDataResponse);
        this.$.doLogin.removeEventListener("response",this.accountDataResponse);
        this.$.doLogin.removeEventListener("response",this.cardDataResponse);

        this.$.doLogin.url=Config.BASE_URL + "apitechu/cards/user/"+ userId;
        //this.$.doLogin.body=data;
        this.$.doLogin.addEventListener("response",this.cardDataResponse);
        this.$.doLogin.generateRequest();
      }
      userDataResponse(data){
        console.log('Response user OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.userData = data.detail.response;

        this.dmControl.accountDataRequest(this.dmControl.userData._id.$oid);
      }
      accountDataResponse(data){
        console.log('Response account OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.accountData = data.detail.response;

        this.dmControl.cardDataRequest(this.dmControl.userData._id.$oid);
      }
      cardDataResponse(data){
        console.log('Response account OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.cardData = data.detail.response;
        this.dmControl.dispatchEvent(
          new CustomEvent(
            "showData",
            {
              detail:{
                "error":undefined,
                "data":{
                   "user":this.dmControl.userData,
                   "account":this.dmControl.accountData,
                   "card":this.dmControl.cardData
                }
              }
            }
          )
        );
      }
      execRequest(data){
        this.userDataRequest(data);
      }
      showError(error){
        console.log(error.detail.status);
        //error.detail.request.xhr.response
        console.log(error.detail.request.xhr.response);
        this.dispatchEvent(
          new CustomEvent(
            "showData",
            {
              detail:{
                "error":'Error getting user data',
                "data":undefined
              }
            }
          )
        );
      }
    }

    window.customElements.define(DmData.is, DmData);
  </script>
</dom-module>
