<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-userlogin">
  <template>
    <iron-ajax
      id="doLogin"
      method="POST"
      content-type="application/json"
      url=Config.BASE_URL + "apitechu/auth/login"
      handle-as="json"
      on-error="showError"
      on-response="response"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     url="http://localhost:3000/apitechu/auth/login"
     */
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-userlogin'; }

      execRequest(data){
        this.$.doLogin.url=Config.BASE_URL + "apitechu/auth/login";
        this.$.doLogin.body=data;
        this.$.doLogin.generateRequest();
      }
      response(data){
        console.log('Response OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
            "logRes",
            {
              detail:{
                "error":undefined,
                "data":data.detail.response
              }
            }
          )
        );
      }
      showError(error){
        console.log(error.detail.status);
        //error.detail.request.xhr.response
        console.log(error.detail.request.xhr.response);
        this.dispatchEvent(
          new CustomEvent(
            "logRes",
            {
              detail:{
                "error":'The username or password is incorrect',
                "data":undefined
              }
            }
          )
        );
      }
    }

    window.customElements.define(DmLogin.is, DmLogin);
  </script>
</dom-module>
