<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-usermovements">
  <template>
    <iron-ajax
      id="doLogin"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     http://localhost:3000/apitechu/movements/account/
     */
    class DmMovements extends Polymer.Element {
      static get is() { return 'dm-usermovements'; }
      static get properties() {
        return {
          userData: {
            type: Object
          },
          accountData: {
            type: Object
          }
        };
      }
      execRequest(data){
        this.$.doLogin.removeEventListener("response",this.response);

        this.$.doLogin.headers['x-access-token'] = data.token;
        this.$.doLogin.url=Config.BASE_URL + "apitechu/movements/account/"+ data.number;
        this.$.doLogin.dmControl = this;
        this.$.doLogin.addEventListener("response",this.response);
        this.$.doLogin.generateRequest();
      }

      response(data){
        console.log('Response user OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.movementsData = data.detail.response;

        this.dmControl.dispatchEvent(
          new CustomEvent(
            "showMovements",
            {
              detail:{
                "error":undefined,
                "data":{
                   "movements":this.dmControl.movementsData
                }
              }
            }
          )
        );
      }
      showError(error){
        console.log(error.detail.status);
        //error.detail.request.xhr.response
        console.log(error.detail.request.xhr.response);
        this.dispatchEvent(
          new CustomEvent(
            "showMovements",
            {
              detail:{
                "error":'No user movements movements',
                "data":undefined
              }
            }
          )
        );
      }
    }

    window.customElements.define(DmMovements.is, DmMovements);
  </script>
</dom-module>
