<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-login">
  <!-- <link rel="import" href="../../bower_components/polymer-themes/everest2.0.html" type="css"> -->
  <template>
    <style include="custom-style"></style>
    <style>
      :host {
        display: block;
      }
      paper-spinner-lite {
        margin-top: 20px;
        left: 50%;
        padding: 0px;
      }
    </style>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <paper-input label="Email" value="{{email::input}}">
      <iron-icon icon="mail" slot="prefix"></iron-icon>
    </paper-input>
    <paper-input label="Password" type="password" value="{{password::input}}"></paper-input>
    <br>
    <paper-button primary raised on-click="sendLogEvent" class="btn-primary">Login</paper-button>
    <paper-button raised on-click="sendRegEvent" class="secondary">Sign up</paper-button>
    <!-- <paper-button raised on-click="sendRegEvent" class="disable">Borrame</paper-button> -->

    <!-- <input type="text" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="sendLogEvent">Login</button>
    <button class="btn btn-success" on-click="sendRegEvent">Register</button> -->
    <!--<paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>-->
    <paper-dialog id="animated" with-backdrop modal>
      <h3>Operation in progress</h3>
      <br>
      <h4>Validation user credentials</h4>
      <paper-spinner-lite active class="thick"></paper-spinner-lite>
    </paper-dialog>
    <!--<paper-dialog id="error" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop modal>-->
    <paper-dialog id="error" with-backdrop modal>
      <!-- <h2>Error:</h2>
      <h5>[[error]]!</h5>
      <paper-button raised dialog-confirm autofocus>Close</paper-button> -->
      <h3>Error</h3>
      <br>
      <h4>[[error]]!</h4>
      <br>
      <div class="buttons">
        <paper-button primary raised dialog-confirm autofocus>Close</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserLogin extends Polymer.Element {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          error:{
            type: String,
            value: undefined
          }
        };
      }
      ready() {
        super.ready();
        // this.$.animated.open();
        // this.error = "Error validando el usuario";
        // this.$.error.open();
      }
      sendLogEvent(e){
        if ((this.email==undefined)||(this.password==undefined)){
          this.error="Missing email or password";
          this.$.error.open();
          return;
        }
        this.$.animated.open();
        this.dispatchEvent(
          new CustomEvent(
            "logReq",
            {
              detail:{
                "email":this.email,
                "password":this.password
              }
            }
          )
        );
      }
      sendRegEvent(e){
        this.dispatchEvent(
          new CustomEvent(
            "regShow",
            {
              detail:{
                "state":"Reg"
              }
            }
          )
        );
      }
      execResponse(data){
        this.$.animated.close();
        if((data.error==undefined)&&(data.data)&&(data.data.auth)){
          this.dispatchEvent(
            new CustomEvent(
              "loginOK",
              {
                detail:{
                  "email":this.email,
                  "token":data.data.token
                }
              }
            )
          );
        }else{
          this.$.error.open();
          this.error=data.error;
        }
      }
    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>
