<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dm-usertransfer">
  <template>
    <iron-ajax
      id="doLogin"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     http://localhost:3000/apitechu/movements/generateOperationToken
     http://localhost:3000/apitechu/movements/addByNumber
     */
    class DmTransfer extends Polymer.Element {
      static get is() { return 'dm-usertransfer'; }
      static get properties() {
        return {
          userData: {
            type: Object
          },
          accountData: {
            type: Object
          }
        };
      }
      createRequest(data){
        this.$.doLogin.removeEventListener("response",this.createResponse);
        this.$.doLogin.removeEventListener("response",this.confirmResponse);

        this.$.doLogin.headers['x-access-token'] = data.token;
        this.$.doLogin.url=Config.BASE_URL + "apitechu/movements/generateOperationToken";
        this.$.doLogin.body=data;
        this.$.doLogin.dmControl = this;
        this.$.doLogin.addEventListener("response",this.createResponse);
        this.$.doLogin.generateRequest();
      }
      confirmRequest(data){
        this.$.doLogin.removeEventListener("response",this.createResponse);
        this.$.doLogin.removeEventListener("response",this.confirmResponse);

        this.$.doLogin.headers['x-operation-token'] = data.operationToken;
        this.$.doLogin.url=Config.BASE_URL +"apitechu/movements/addByNumber";
        this.$.doLogin.body=data;
        this.$.doLogin.addEventListener("response",this.confirmResponse);
        this.$.doLogin.generateRequest();
      }
      createResponse(data){
        console.log('Response user OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.dispatchEvent(
          new CustomEvent(
            "createTransferResponse",
            {
              detail:{
                "error":undefined,
                "sendMail" : data.detail.response.sendMail,
                "operationToken": data.detail.response.token
              }
            }
          )
        );
      }
      confirmResponse(data){
        console.log('Response account OK');
        console.log(data.detail.status);
        console.log(data.detail.response);
        this.dmControl.dispatchEvent(
          new CustomEvent(
            "confirmTransferResponse",
            {
              detail:{
                "error":undefined,
                "data" : data.detail.response
              }
            }
          )
        );
      }
      showError(error){
        console.log(error.detail.status);
        //error.detail.request.xhr.response
        console.log(error.detail.request.xhr.response);
        this.dispatchEvent(
          new CustomEvent(
            "logRes",
            {
              detail:{
                "error":'The username or password is incorrect',
                "data":undefined
              }
            }
          )
        );
      }
    }

    window.customElements.define(DmTransfer.is, DmTransfer);
  </script>
</dom-module>
