<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="user-register">
  <template>
    <style include="custom-style"></style>
    <style>
      :host {
        display: block;
      }
      paper-spinner-lite {
        margin-top: 20px;
        left: 50%;
        padding: 0px;
      }
    </style>
    <h2></h2>
    <paper-input label="username" value="{{email::input}}">
      <iron-icon icon="mail" slot="prefix"></iron-icon>
    </paper-input>
    <paper-input label="password input" type="password" value="{{password::input}}"></paper-input>
    <paper-input label="repeat password input" type="password" value="{{password2::input}}"></paper-input>
    <paper-input label="first name" value="{{first_name::input}}"></paper-input>
    <paper-input label="last name" value="{{last_name::input}}"></paper-input>
    <paper-input label="inital balance" type="number" value="{{balance::input}}"></paper-input>

<!--
    <input type="text" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <input type="password" placeholder="Repeat password" value="{{password2::input}}"/>
    <input type="text" placeholder="First Name" value="{{first_name::input}}"/>
    <input type="text" placeholder="Last Name" value="{{last_name::input}}"/>
    <input type="text" placeholder="Balance" value="{{balance::input}}"/>
-->
    <br>
    <paper-button primary raised on-click="sendCreateEvent" class="btn-primary">Create</paper-button>
    <paper-button raised on-click="sendInitEvent" class="secondary">Back</paper-button>

    <paper-dialog id="animated" with-backdrop modal>
      <h3>Operation in progress</h3>
      <br>
      <h4>User creation</h4>
      <paper-spinner-lite active class="thick"></paper-spinner-lite>
    </paper-dialog>
    <!--<paper-dialog id="error" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop modal>-->
    <paper-dialog id="error" with-backdrop modal>
      <!-- <h2>Error:</h2>
      <h5>[[error]]!</h5>
      <paper-button raised dialog-confirm autofocus>Close</paper-button> -->
      <h3>Error</h3>
      <br>
      <h4>[[error]]!</h4>
      <br>
      <div class="buttons">
        <paper-button primary raised dialog-confirm autofocus>Close</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserRegister extends Polymer.Element {
      static get is() { return 'user-register'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          password2:{
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          balance: {
            type: Number
          },
          error:{
            type: String,
            value: undefined
          }
        };
      }
      ready() {
        super.ready();
        //this.$.animated.open();
        // this.error = "Error validando el usuario";
        // this.$.error.open();
      }
      showError(data){
        console.log(data);
        this.$.animated.close();
        this.error=data.error;
        this.$.error.open();
      }
      sendCreateEvent(e){
        if ((this.password==undefined)||(this.password!=this.password2)){
          this.error = "Las contraseñas no coinciden";
          this.$.error.open();
          return;
        }
        this.$.animated.open();
        this.dispatchEvent(
          new CustomEvent(
            "registerReq",
            {
              detail:{
                "email":this.email,
                "password":this.password,
                "first_name":this.first_name,
                "last_name":this.last_name,
                "balance":this.balance
              }
            }
          )
        );
      }
      sendInitEvent(e){
        this.dispatchEvent(
          new CustomEvent(
            "initLogin",
            {
              detail:{
                "state":"Init"
              }
            }
          )
        );
      }
      execResponse(data){
        this.$.animated.close();
        this.dispatchEvent(
          new CustomEvent(
            "showData",
            {
              detail:{
                "error":undefined,
                "state":"Data",
                "data":{
                  "email":data.data.email,
                   "user":data.data.user,
                   "account":data.data.account,
                   "card":data.data.card
                }
              }
            }
          )
        );
      }
    }

    window.customElements.define(UserRegister.is, UserRegister);
  </script>
</dom-module>
